#footer{
    background: #1E1E1E;
}

#footer h1{
    color: #FFFFFF;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
    letter-spacing: -0.144px;
    margin: 0px;
}

#footer .footer-title{
    font-size: 28px;
}

#footer .footer-copyright{
    font-size: 20px;
}