#home{
    margin-left: 100px;
}

#store{
    margin-left: 60px;
}

#about{
    margin-right: 60px;
}

#sound{
    margin-right: 100px;
    cursor: pointer;
    color: #FFFFFF;
    width: 92px;

    padding-left: 10px;
}

#sound:hover{
    color: #ffffff;
}

.link:hover{
    color: #ffffff;
    filter: none;
}

.link{
    text-decoration: none;

    color:#FFFFFF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    margin: 0px auto;
    filter: blur(1.5px);

    cursor: none;
}

#archivement-header-logo{
    margin: 0px auto;
    cursor: none;
}
