.left-16{
    margin-left: 16px;
}

#contact-logo{
    display: flex;
}

.date{
    margin-top: 107px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.date div{
    margin: 18px 0px;
}

.address{
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.address div{
    margin: 38px 0px;
}

.address-1{
    width: 100%;
}
.address-2{
    width: 100%;
}

.gallery-time{
    border-bottom: 1px solid;
}

.gallery-time div{
    margin: 18px 0px;
}