#about-intro-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 142px;
    /* margin-top: 142px; */
    padding-top: 204px;
    margin-bottom: 77px;
}

#story-intro-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* margin-top: 142px; */
    padding-top: 130px;
    margin-bottom: 77px;
}

.margin-top-120{
    margin-top: 120px;

}

 .margin-bottom-169{
    margin-bottom: 169px;
}

.margin-bottom-158{
    margin-bottom: 158px;
 }